{% block content%}
    <section class="about-us py-5">
        <div class="container">
            <div class="row">
                <div class="col-md-12 text-center mb-4">
                    <h2>About Us</h2>
                    <p class="lead">Welcome to YourEcommerce, your number one source for all things fashion, electronics, and more!</p>
                </div>
            </div>
            <!-- Team Members Section -->
            <div class="row text-center">
                <div class="col-md-4">
                    <div class="card">
                        <img src="https://as2.ftcdn.net/v2/jpg/00/98/57/51/1000_F_98575131_cMXZlCZQTyiFHac755WQgu4ndEnyQzZt.jpg" class="card-img-top" alt="Team Member 1">
                        <div class="card-body">
                            <h5 class="card-title">Dikshya Bhusal</h5>
                            <p class="card-text">CEO & Founder</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card">
                        <img src="https://as2.ftcdn.net/v2/jpg/00/98/57/51/1000_F_98575131_cMXZlCZQTyiFHac755WQgu4ndEnyQzZt.jpg" class="card-img-top" alt="Team Member 2">
                        <div class="card-body">
                            <h5 class="card-title">Diya Bhusal</h5>
                            <p class="card-text">Chief Marketing Officer</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card">
                        <img src="https://as2.ftcdn.net/v2/jpg/00/98/57/51/1000_F_98575131_cMXZlCZQTyiFHac755WQgu4ndEnyQzZt.jpg" class="card-img-top" alt="Team Member 3">
                        <div class="card-body">
                            <h5 class="card-title">Jigyasha Acharya</h5>
                            <p class="card-text">Head of Technology</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}       
