{% extends 'master.html' %}

{%  block content %}
    <!-- templates/categories.html -->
    <div class="container text-center">
        <h1 class="text-center mb-4">Product Categories</h1>
        <div class="row">
            {% for categories in Categories %}
            <div class="col-md-4">
                <div class="card mb-4">
                    <img src="{{ categories.image.url}}" class="card-img-top" alt="{{ categories.name }}">
                    <div class="card-body">
                        <h5 class="card-title">{{ categories.name }}</h5>
                        <a href="{% url 'products' %}" class="btn btn-primary">Explore "{{ categories.name }}"</a>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
        
    </div>
{% endblock %}


